@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2? family= Roboto & display=swap');
@import url('https://fonts.googleapis.com/css2?family= Inter: família= Inter:wght@300;400 & display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
::-webkit-scrollbar{
    width: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-track{
    background-color:#323538;
}
::-webkit-scrollbar-thumb{
    background: #00804b;
}

body{
    background-color: #f9f9f9;
}
p{
    font-family: 'Ubuntu', sans-serif;
    color: #323538;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
/*  navbar   inicio*/
.navbar{
    position: absolute;
    top: 10px;
    width: 100%;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    z-index: 999;
    transition: all 0.3s ease;
}
/* .navbar.sticky{
     background:#323538;
     padding: 15px 0;
} */
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 500;
}
.navbar .logo a span{
    color: white;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color:white;

}
.navbar.sticky .menu li a:hover{
    color: #fff;
}
.skills-content{
    font-family: 'Ubuntu', sans-serif;
    color: #323538;
}
.about .about-content,
.services .serv-content,.skills-content,.serv-adev
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}


/*  Home   inicio  */
.home{
    display: flex;
    background: url('/img/img3.jpg') no-repeat;
    background-size: cover;
    /* background-color: #111; */
    height: 50vh;
    color: #fff;
    min-height: 700px;
    font-family: 'Ubuntu', sans-serif;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    top: -20px;
}
section{
    padding: 100px 0;
}

section .title{
    text-align: center;
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 60px;
    padding-bottom: 20px;
    position: relative;
}
.about .title::after{
    content: "";
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
    color: #323538;
}
.about .about-content .right .text span{
    color: #323538;
}
.about .about-content .right p{
    text-align: left;
    font-family: 'Ubuntu', sans-serif;
    line-height: 2em;
}
.about .about-content .right a{
    display: inline-block;
    background: #323538;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid white;
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color:white;
    background: none;
    background-color: #323538e7;
}
.about .about-content .left img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    background-position: center;
    
    border-radius: 6px;
}
.services .serv-content .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
    
    font-family: 'Ubuntu', sans-serif;

}
.services .serv-content .card .box{
    transition: all 0.3s ease;
}

.services{
    background-color: #111 ;
    color: rgba(255, 255, 255, 0.89);
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: 'Inter', sans-serif;
    font-style: monospace;
    font-weight: 300;
}

.services .title::before{
    background-color: #fff;
    font-family: 'Ubuntu', sans-serif;
}
.services .serv-content .card ion-icon{
    font-size: 70px;
    color: #343A40;
}
.services .serv-content .card:hover{
    background-color: #00804b;
}
.services .serv-content .card {
    width: calc(33% -  20px);
    background: #2222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.services .serv-content .card .box{
    transition: all 0.4s ease;
}
.about .columnright .text{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 16px;
    font-family: 'Ubuntu', sans-serif;
    line-height: 2rem;

}
.about .column-left img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}
.home .max-width{
    margin: auto 0 auto 40px;
}
.home .home-content .text-1{
    font-family: 'Ubuntu';
    font-size: 35px;
    font-weight: bold;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 500;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color:#323538 ;
    font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    background: transparent;
    color: white;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid white;
}
.home .home-content a:hover{
    color: #686868;
    background: none;
}

/*  Menu  Mobile  */
.menu-btn{
    color: #c3c3c3;
    font-size: 26px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    width: 41px;
    height: 45px;
    right: 30px;
    bottom: 30px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    background: #323538;
    border-radius: 6px;
    font-size: 30px;
    z-index: 9999;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events:auto;
    
}

/*  todos os codigos similares  */
section{
    padding: 100px 0;
}
section .title{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    position: relative;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom:-12px;
    left: 50%;
    font-size: 20px;
    background: #fff;
    color: #323538;
    padding: 5px;
    transform: translateX(-50%);
}
.skills .skills-content .column{
    width: calc(50% - 30px);
}
.skills .skills-content .left .text{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}

/* esse é o dar barrras */
.skills .skills-content .left .text{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}
.skills .skills-content .left p{
    text-align: left;
}
.skills .skills-content .left a{
    display: inline-block;
    background: #00804b;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #00804b;
    transition: all 0.3s ease;
}
.skills .skills-content .left a:hover{
    color: #00804b;
    background: none;
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;
    line-height: 2em;
}
.skills .skills-content .right .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}

.skills .skills-content .right .line{
    width: 100%;
    height: 6px;
    position: relative;
    background: #ccc;
    border-radius: 16px;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    width: 80%;
    height: 100%;
    top: 0;
    left: 0;
    background: #686868;
}

.skills .skills-content .right .html::before{
    width: 100%;
    border-radius: 50px;
}


.skills .skills-content .right .css::before{
    width: 100%;
    border-radius: 50px;
}

.skills .skills-content .right .py::before{
    width: 100%;
    border-radius: 50px;
}
.skills .skills-content .right .db::before{
    width: 80%;
    border-radius: 50px;
}
.skills .skills-content .right .js::before{
    width: 30%;
    border-radius: 50px;
}
.skills .skills-content .right .c::before{
    width: 70%;
    border-radius: 50px;
}
.skills .skills-content .right .bs::before{
    width: 90%;
    border-radius: 50px;
}


.adev{
    background-color: #111;
}
.adev .title{
    color: white;
}
.adev .title::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 180px;
    height: 3px;
    background:white;
    transform: translateX(-50%);
}
.adev .serv-adev .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;

}
.adev .adev-content .card1 .box1{
    transition: all 0.3s ease;
}

.adev{
    background-color: #111;
    color: #fff;
}

.adev .title::before{
    background-color: #fff;
}
.adev .serv-adev .card1 ion-icon{
    font-size: 70px;
    color: #343A40;
}
.adev .serv-adev .card1:hover{
    background-color: #00804b;
}
.adev .serv-adev .card1 {
    width: calc(33% -  20px);
    background: #2222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.adev .serv-adev .card1 .box1{
    transition: all 0.4s ease;
}
/* @media (max-width: 1300px){
    .navbar .max-width{
        margin-left: 0;
    }
}
@media (max-width: 1104px){
    .about .about-content .left img{
        width: 350px;
        height: 350px;
    }
}
@media (max-width: 991px){
    .navbar .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .max-width{
        max-width: 800px;
        padding: 0 50px;
    }
    
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .about .about-content .column{
        width: 50%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .services .serv-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
 
}

}




@media (max-width: 600px){
 
  .about-content p{
      width: 60vh;
      margin-left: -10vh;
      line-height: 2rem;
      position: relative;

  }

  .about-content .text{
      
      top: 10px;
    width: 60vh;
    margin-left: -10vh;
    padding: 20px;
  }
    .skills .skills-content .right span{
        
        font-size: 20px;
        border: 50px;
        
    
    }
    
    
    .skills .title{
        font-size: 2em;
    font-weight: 500;

    

    }
    .skills h2{
        font-size: 1.5em;
        padding: 30px;
    }

    .skills p{
        
        font-size: 1.10em;
        line-height: 2rem;
        width: 100%;
        
        
    }


    .services .serv-content .card {
        width:100%;
    }

    .adev .serv-adev .card1{
        width: 100%;
        margin-bottom: 20px; 
    }
}
@media (max-width: 500px){
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }

    .adev .serv-adev .card {
        width: 100%;
    }
} */

@media (max-width: 1300px){
    .navbar .max-width{
        margin-left: 0;
    }
}
@media (max-width: 1104px){
    .about .about-content .left img{
        width: 350px;
        height: 350px;
    }
}
@media (max-width: 991px){
    .navbar .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .max-width{
        max-width: 800px;
        padding: 0 50px;
    }
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .navbar .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        left: -100%;
        top: 0;
        background: #111;
        padding-top: 80px;
        text-align: center;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .about .about-content .column{
        width: 50%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .services .serv-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
    footer{
        margin-top: 15px;
    }
}
@media (max-width: 690px){
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
    }
    .services .serv-content .card {
        width:100%;
    }
}
@media (max-width: 500px){
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
}
